@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(290.85deg, #FFFFFF 30.84%, #FFE6B6 86.8%);
  min-height: 100dvh;
  height: 100%; /* wstepnie, potem zmienic zeby nie wyjebac */
}
.bg-primary{
  background-color: #FFE7B8;
}
.border-primary{
  border: 1px solid #C0C0C0;
}
.text-secondary{
  color: #C0C0C0;
}

.menu-bg{
  background: linear-gradient(290.85deg, #FFFFFF 30.84%, #FFE6B6 86.8%);
}